<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="AAllen_MenuLink::menu_elements" title="AAllen Menu Elements" sortOrder="10">
                        <resource id="AAllen_MenuLink::links" title="Menu Links" sortOrder="40">
                            <resource id="AAllen_MenuLink::save" title="Save Link" sortOrder="10" />
                            <resource id="AAllen_MenuLink::delete" title="Delete Link" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>